<!-- signup.html -->
<!-- {% extends "layout.html" %} -->
{% block content %}
    <form method="POST" action="{{ url_for('signup') }}">
        {{ form.hidden_tag() }}
        {{ form.username.label }} {{ form.username(size=32) }}<br>
        {{ form.email.label }} {{ form.email(size=32) }}<br>
        {{ form.password.label }} {{ form.password(size=32) }}<br>
        {{ form.confirm_password.label }} {{ form.confirm_password(size=32) }}<br>
        {{ form.submit() }}
    </form>
{% endblock %}
